.twitter-article {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.twitter-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.twitter-div {
    display: flex;
    flex-direction: column;
}

.twitter-span {
    opacity: .6;
}

.twitter-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.twitter-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3s ease background-color;
}

.twitter-button:hover {
    opacity: .8;
}

.twitter-isFollow {
    display: block;
}

.twitter-button.is-following {
    border: 1px solid #bbb;
    background: transparent;
    color: #fff;
    width: 140px;
}

.twitter-button.is-following:hover {
    color: rgb(255, 38, 38);
    border: 1px solid rgb(255, 38, 38);
    transition: .3s ease all;
    opacity: 1;
    background-color: rgba(255, 0, 0, 0.178)
}

.twitter-notFollow {
    display: none;
}

.twitter-button.is-following:hover .twitter-isFollow {
    display: none;
}

.twitter-button.is-following:hover .twitter-notFollow {
    display: block;
}


.twitterContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
